{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-8">
            <h2 class="font-weight-bold text-dark">Catálogo vía API</h2>
            <p class="text-muted">Productos sincronizados con Open Food Facts</p>
        </div>
    </div>

    <div class="row">
        {% for p in productos %}
<div class="card h-100">
    <img src="{{ p.imagen.url }}" class="card-img-top"> 
    <div class="card-body">
        <h5>{{ p.nombre }}</h5>
        <p class="fw-bold">${{ p.precio }}</p>
    </div>
</div>
{% endfor %}
    </div>
</div>
{% endblock %}